
.button1 {
    color: black;
    align-self: left;
}
h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style:double;
}
body {
    background-color: darkslategrey;
}
.introbox {
    align-self: center;
    border: 4px black solid;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.introbox:hover{
    transform: scale(1.05);
}
.intro {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.contributions{
    align-self: center;
    border: 4px black solid;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
.contributions:hover{
    transform: scale(1.05);
}
.zom-cont{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center center;
}
.zom-p{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.cont2{
    align-self: center;
    border: 4px black solid;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
.cont2:hover{
    transform: scale(1.05);
}
.pong{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center center;
}
.pongcont{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.cont3{
    align-self: center;
    border: 4px black solid;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
.cont3:hover{
    transform: scale(1.05);
}
.website{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center center;
}
.webcont{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}