
.button1 {
    color: black;
    align-self: left;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style:double;
}

body {
    background-color: darkslategrey;
}

.introbox {
    align-self: center;
    border: 4px black solid;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;

}
.intro {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
