@keyframes fadeInImg {
    0% {  
        border: 10px solid rgba(135,206,250,0);
    }
    100% {
        border: 10px solid rgba(135,206,250,1);
    }
}
@keyframes fadeOutImg {
    0% {
        border: 10px solid rgba(135,206,250,1);
    }
    100% {
        border: 10px solid rgba(135,206,250,0);
        border-style: none;
    }
}
.fadeInImgAnimation {
    animation: fadeInImg 0.4s;
    animation-fill-mode: forwards;
}

.fadeOutImgAnimation {
    animation: fadeOutImg 0.4s;
    animation-fill-mode: forwards;
}

.title {
    color: lightseagreen;
    text-align: center;
    border-style: groove;
    border-radius: 10px;
    border-width: thick 815px thick 815px; /*top border, right border, bottom border, left border respectively*/
    
    border-color: turquoise;
}

body {
    background-color: cornsilk;
}
.column {
    float: left;
    width: 33.33%;
    height:220px;
}
columnText {
    font-size: 30px;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-child {
    flex: 1;
    border: 2px solid lightgreen;
    padding: 10px 10px 5px 5px;
    border-radius: 5px;
    border-width: thick thick thick thick;

}
.flex-child:first-child {
    margin-bottom: 20px;
}

.bioHeading {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
}

.bioDesc {
    text-align: justify;
    list-style-type: disc;
}

.statusHeading {
    text-align: center;
}

.stausDesc {
    text-align: center;
}