

.title {
    color: black;
    text-align: center;
    border-style: dashed;
    border-radius: 15px;
    /*border-width: thick 500px thick 500px; /*top border, right border, bottom border, left border respectively*/
    border-color: turquoise;
}

body {
    background-color: cornsilk;
}
.column {
    float: left;
    width: 32.3%;
    height:330px;
    padding-left: 5px;
    padding-right: 5px;
}
.columnText {
    font-size: 16px;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-child {
    flex: 1;
    border: 2px solid lightgreen;
    padding: 10px 10px 5px 5px;
    border-radius: 5px;
    border-width: thick thick thick thick;

}
.flex-child:first-child {
    margin-bottom: 20px;
}

.bioHeading {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
}

.bioDesc {
    text-align: justify;
    list-style-type: disc;
}

.statusHeading {
    text-align: center;
}

.stausDesc {
    text-align: center;
}